body {
  background: rgb(253, 253, 253);
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 220px;
  display: block;
  margin: 0 auto;
}

.btn__alert {
  width: 199px;
  height: 47px;
  display: block;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  margin: 3px 3px 3px 3px;
  padding: 12px;
  color: #fff;
  border-radius: 7px;

  transition: all 1ms ease-in-out;
  background: green;
}

.btn__alert:hover {
  color: #282828;
}

h1 {
  text-align: center;
  color: rgb(48, 124, 99);
  text-shadow: rgb(37, 100, 79);
  margin: 30px 0;
  padding: 12px 0;
}

footer {
  text-align: center;
  color: grey;
  font-size: small;
  margin: 30px 0;
  padding: 12px 0;
}
