.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

.Meaning .Definition__example {
  font-size: 14px;
  font-style: italic;
  opacity: 0.5;
  color: rgb(48, 124, 99);
  margin-top: 10px;
}
