.Phonetic {
  height: 60px;
}

.Phonetic a {
  font-size: 12px;
  font-weight: bold;
  padding: 10px 20px;
  border: 1px solid rgb(48, 124, 99);
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  text-decoration: none;
  margin-right: 15px;
  color: green;
}

.Phonetic a:hover {
  color: rgb(37, 100, 79);
  background-color: white;
}

.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
